.movie{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    width: 20%;
    border: 1px solid black;
    background-color: rgba(128, 128, 128, 0.185);
    margin: 30px 20px;
    align-items: center;
    padding: 2px;
}
.movie__poster{
    position: relative;
    top: -20px;
    min-width: 50px;
    max-width: 120px;
}

.movie__title{
    font-size: 16px;
    text-align: center;
}
.movie__summary{
    font-size: 12px;
}
.genres_genre{
    font-size: 14px;
}